{% extends "wafer/base.html" %}
{% load i18n %}
{% load markitup_tags %}
{% block title %}{{ object.title }} — {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<h1>{{ object.title }}</h1>
<div>{{ object.date }}</div>
{{ object.body | render_markup | safe }}
{% endblock %}
