{% extends "wafer.volunteers/tasks.html" %}
{% load static %}

{% block content %}
  <div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
    The tasks listed here are for on-site volunteers during the event. If you
    want to help in organizing DebConf see the kanban board <a
    href="https://cryptpad.fr/kanban/#/2/kanban/edit/FHZC5hjfOO1-7hEBzVN0tVH5/">
    here</a>. If you take up a task, drag the corresponding task card from "To
    Do" to "In Progress" column and add your name as tag. For more details on
    using the kanban board, see the <a
    href="https://docs.cryptpad.org/en/user_guide/apps/kanban.html">user
    guide</a>.
  </div>

  {{ block.super }}
{% endblock %}
